<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="right">
        <div class="location">
            <strong>你现在所在的位置是:</strong>
            <span>厨师表 >> 厨师信息添加页面</span>
        </div>
    <form action="/tbabout/addabout" method="POST">
        <input type="hidden" name="id"  placeholder="请填写ID"  /><br/>
       <input type="text" name="name"  placeholder="name"/>
        <br> 
        <input type="text" name="photo"  placeholder="photo"/>
        <br/>
       <input type="text" name="introduce"  placeholder="introduce"/>
        <br/>
        
        <input type="submit"/>
    </form>
    
</body>
</html>